<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale = 1.0">
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/jpg" href="static/favicon.ico"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>MRP Demand Forecast</title>
    </head>

    <body>
        <h1>Hello, Forecast World!</h1>
        <script src="static/script.js"></script>
    </body>

</html> -->

{% extends "base.html" %}
{% block content %}
<p>Welcome! Use the buttons above to manage Materials, Inventory, and BOM.</p>
{% endblock %}